<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Auto Mecom | Contactos</title>
</head>
{% extends 'automecom/layout.html' %}

{% block main %}
{% load static %}
<div class="contactos">
    <div class="containerrr">
        <div class="texttt">
            <div>
                <h3>Oficina horário</h3>
                <br>
                <ul class="horario">
                    <li><strong>Seg</strong> 09:00 - 18:00</li>
                    <li><strong>Ter</strong> 09:00 - 18:00</li>
                    <li><strong>Qua</strong> 09:00 - 18:00</li>
                    <li><strong>Qui</strong> 09:00 - 18:00</li>
                    <li><strong>Sex</strong> 09:00 - 18:00</li>
                    <br>
                    <li><strong>Almoço.</strong> 13:00 - 14:00</li>
                    <br>
                    <li><strong>Sab.</strong> Encerrado</li>
                    <li><strong>Dom.</strong> Encerrado</li>
                </ul>
            </div>
            <div>
                <br>
                <br>
                <p><strong>Morada:</strong> Estr. Manuel Correia Lopes 576 2785-718 São Domingos de Rana</p>
            </div>
            <div class="contact-info">
                <p><strong>Tel.</strong> 21 445 1746</p>
                <p><strong>Tlm.</strong> 968 029 742 || 929 435 627</p>
                <p><strong>English support:</strong> +351 929 435 612</p>
            </div>
            <div class="contact-info">
                <p><strong>E-mail.</strong> geral@automecom.com</p>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12449.948005096685!2d-9.3224715!3d38.7295854!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecee2af2d6dd1%3A0xbca453df95bf3380!2sAuto%20Mecom%20Unipessoal%2C%20Lda!5e0!3m2!1spt-PT!2spt!4v1697317659783!5m2!1spt-PT!2spt"
                    width="800" height="950" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


        <div class="container-contacto">
            <h2>Entre em Contato</h2>

            {% if messages %}
            <div class="mensagens">
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}


            <form method="post" action="{% url 'automecom:Contacto' %}">

                {% csrf_token %}
                {% if request.user.is_authenticated %}
                <div class="form-group">
                    <label>{{ form.mensagem.label }}</label>
                    {{ form.mensagem }}
                </div>
                {% else %}
                <div class="nomesContacto linha">
                    <div class="form-group">
                        <label>{{ form.primeiro_nome.label }}</label>
                        {{ form.primeiro_nome }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.ultimo_nome.label }}</label>
                        {{ form.ultimo_nome }}
                    </div>
                </div>

                <div class="outrosContacto linha">
                    <div>
                        <label>{{ form.telemovel.label }}</label>
                        {{ form.telemovel }}
                    </div>
                    <div>
                        <label>{{ form.email.label }}</label>
                        {{ form.email }}
                    </div>
                </div>

                <div class="mensagem">
                    <label>{{ form.mensagem.label }}</label>
                    {{ form.mensagem }}
                </div>
                {% endif %}


                <button type="submit">Enviar Email</button>
            </form>

        </div>

    </div>
</div>
{% endblock %}