{% load custom_tags %}
{% load static %}


<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Auto Mecom </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'automecom/css/estilos.css' %}">
    <link rel="icon" href="{% static 'automecom/images/LOGOPNG.png' %}">
    <link rel="apple-touch-icon" href="{% static 'automecom/images/LOGOPNG.png' %}">

    {% block styles %}

    {% endblock %}

    <meta charset="UTF-8">
</head>


<body>
    <header>
        <nav class="logo"><a class="textmenu" href="home"><img
                    src="{% static 'automecom/images/logo_white_final.png' %}" alt="Auto Mecom" class="logo-img"
                    style="height: 80px; width: auto; object-fit: contain;"></a></nav>
        <input type="checkbox" id="menu-toggle" class="menu-checkbox" aria-label="Abrir menu">
        <label for="menu-toggle" class="menu-toggle-label">
            <i class="fa fa-bars"></i>
        </label>


        <nav class="textmenu menu-links">
            <a href="sobre">SOBRE</a>
            <a href="servicos">SERVIÇOS</a>

            <a href="conselhos">CONSELHOS</a>
            <a href="contactos">CONTACTOS</a>
            <a href="marcacao">MARCAÇÃO</a>

            {% if not request.user.is_authenticated %}
            <a href="{% url 'automecom:login' %}">A MINHA CONTA</a>
            {% endif %}
            <div class="subnav">
                {% if request.user.is_authenticated %}
                <a class="subnavbtn">{{ user.username }}<i class="fa fa-caret-down"></i></a>
                <div class="subnav-content">
                    <a href="perfil">Perfil</a>
                    {% if user|is_administrador %}
                    <a href="marcacoes">Lista de marcações</a>
                    {% else %}
                    <a href="marcacoes">Marcações</a>
                    {% endif %}
                    {% if user|is_administrador %}
                    <a href="orcamentos">Orçamentos</a>
                    {% else %}
                    <a href="orcamentos">Pedidos de orçamentos</a>
                    {% endif %}
                    <a href="obras.html">Obras Realizadas</a>-->
                    <a href="logout">Terminar sessão</a>
                </div>
                {% endif %}

            </div>
        </nav>
    </header>
    <div class="espace"></div>

    <main>
        <div class="conteudo">
            {% block main %}
            {% endblock main %}
        </div>

        <footer>
            <div class="creditos">
                <div class="container">
                    <div class="leftsubmenu">
                        <div>
                            <ul class="sub-menu">
                                <p>2024 © AutoMecom</p>
                                <br>
                                <li><a href="privacidade.html">Política de Privacidade</a></li>

                                <li><a href="garantia.html">Regulamento da Garantia na Manutenção Auto</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="rightsubmenu">
                        <p>Siga-nos em:</p>
                        <div class="social">
                            <a><a href="//www.instagram.com/automecom/" target="_blank"><i class="fa fa-instagram"
                                        style="font-size:25px;"></i></a></a>
                            <a><a href="" target="_blank"><i class="fa fa-facebook" style="font-size:25px;"></i></a></a>
                            <a><a href="" target="_blank"><i class="fa fa-linkedin" style="font-size:25px;"></i></a></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>

</body>

</html>