<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto Mecom | Orçamentos</title>
</head>

{% extends 'automecom/layout.html' %}
{% load custom_tags %}

{% block main %}
{% load static %}

<body>
<section class="marcacoesSection">

{% if messages %}
<div class="toast-container" style="position: fixed; top: 50px; right: 10px; z-index: 1055;">
    {% for message in messages %}
    <div class="toast-message" id="message-{{ forloop.counter }}" style="padding: 10px; margin-top: 20px; background-color: #FDF5E6; border: 1px solid #c3e6cb; border-radius: 5px; color: #000000	;">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Seleciona todas as mensagens
        const messages = document.querySelectorAll(".toast-message");

        messages.forEach((message) => {
            // Define um timeout para remover cada mensagem
            setTimeout(() => {
                message.style.transition = "opacity 1s";
                message.style.opacity = "0";
                setTimeout(() => message.remove(), 1000); // Remove o elemento após a transição
            }, 3000); // Tempo antes de desaparecer (3 segundos)
        });
    });
</script>


    {% if orcamentos %}
        {% for orcamento in orcamentos %}
            <div class="Serv{% if user|is_administrador %} administrador{% endif %}">
                <div>
                    <br>
                    {% if user|is_administrador %}
                        <p><strong>Cliente:</strong>
                            {% if orcamento.user %}
                                {{ orcamento.user.first_name }} {{ orcamento.user.last_name }}
                            {% else %}
                                {{ orcamento.nome }} {{ orcamento.apelido }}
                            {% endif %}
                        </p>
                        <p><strong>Email:</strong>
                            {% if orcamento.user %}
                                {{ orcamento.user.email }}
                            {% else %}
                                {{ orcamento.email }}
                            {% endif %}
                        </p>
                        <p><strong>Telefone:</strong>
                            {% if orcamento.user %}
                                {{ orcamento.telefone|default:"Não informado" }}
                            {% else %}
                                {{ orcamento.telefone }}
                            {% endif %}
                        </p>
                    {% endif %}
                    <p><strong>Descrição:</strong> {{ orcamento.descricao }}</p>
                    <p><strong>Veículo:</strong> {{ orcamento.veiculo.marca }} {{ orcamento.veiculo.modelo }} ({{ orcamento.veiculo.matricula }})</p>
                    <p><strong>Serviços:</strong></p>
                        {% for servico in orcamento.servicos.all %}
                            <p>{{ servico.nome }}</p><br>
                        {% endfor %}
                    <p><strong> Data:</strong> {{ orcamento.data_criacao|date:"d/m/Y H:i" }}<p></p>
                    <br>

                    {% if orcamento.arquivo_pdf %}
    <p><strong>Orçamento em PDF:</strong>
        <a href="{{ orcamento.arquivo_pdf.url }}" target="_blank">Baixar/Visualizar PDF</a>
    </p>
{% else %}
    <p> Nenhum orçamento em PDF disponível.</p>
{% endif %}


                    <br>
                </div>
            </div>

            {% if user|is_administrador %}
                <a href="{% url 'automecom:editarorca' orcamento.id %}" class="botao">Editar</a>
                <a href="{% url 'automecom:apagarorca' orcamento.id %}" class="botao">Apagar</a>
            {% else %}
                <a href="{% url 'automecom:editarorca' orcamento.id %}" class="botao">Alterar</a>
                <a href="{% url 'automecom:apagarorca' orcamento.id %}" class="botaoCancelar">Cancelar</a>
            {% endif %}

            <br>
        {% endfor %}
   {% else %}
    {% if user.is_authenticated %}
        <!-- Mostrar mensagem para usuários autenticados -->
        <p class="no-orcamentos">Não há orçamentos no momento.</p>
    {% endif %}
    <a href="{% url 'automecom:orcamento' %}" class="botao">Pedir Orçamento</a>
{% endif %}

</section>
</body>
</html>
{% endblock %}
